<div class="row">
  <div class="col-md-4 col-md-offset-4">

    <h2 class="text-center">Contact Us</h2>
    <br/>
    <%= form_tag contact_submit_path do %>
    	<div class="form-group">
      	<%= text_field_tag :name, "",autofocus: true, placeholder: "Full Name", class: "form-control" %>
      </div>

      <div class="form-group">
      	<%= text_field_tag :email, "", placeholder: "Email", class: "form-control" %>
      </div>

      <div class="form-group">
      	<%= text_area_tag :message, "", :size =>"48x3", placeholder: "Message" %>
      </div>

      <div class="actions">
      	<%= submit_tag "Send", class: "btn btn-normal btn-block" %>
      </div>
    <% end %>
    
  </div>
</div>
