
<div class="main container-fluid mobile-padding top_margin">
  <div class="row">
    <div class="col-md-12">
      <div id="banner">
      <div class="less-photo-banner_container">
        <%= image_tag @room.cover_photo(nil),:class=>"less-photo-banner_photo js-photo-banner" %>
        <%= image_tag @room.cover_photo_second(nil),:class=>"less-photo-banner_photo js-photo-banner" %>
      </div>
     </div>
    </div>
  </div> <!-- row -->

  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <div style="background: #fff; margin-bottom: 2rem;">
          <div class="white-bg listing-content listing-not-new">
             <div class="row">
                <div class="col-md-12">
                   <h1 class="listing-name-heading"><%= @room.listing_name %></h1>
                </div>
             </div>
             <div class="row">
                <div class="col-md-6">
                   <p class="mono grey mobile-left" style="margin-top: 7px;">
                      <%= @room.address %>
                   </p>
                </div>
                <div class="col-md-6">
                   <div class="row">
                      <div class="col-md-6 col-xs-6 text-right mobile-left">
                         <div class="review-top"><span class="mono small grey"><%= pluralize(@guest_reviews.count, "Review") %></span></div>
                      </div>
                      <div class="col-md-6 col-xs-6 text-right mobile-left rating">
                        <span class="average_rating"></span>
                      </div>
                   </div>
                </div>
             </div>
             <div class="space-synopsis row">
                <div class="col-md-12 no_padding">
                  <!-- Room Info -->
                  <div class="row text-babu">
                    <div class="row text-center row-space-1">
                      <div class="col-md-3">
                        <i class="fa fa-home fa-2x"></i>
                      </div>
                      <div class="col-md-3">
                        <i class="fa fa-user-circle-o fa-2x"></i>
                      </div>
                      <div class="col-md-3">
                        <i class="fa fa-bed fa-2x"></i>
                      </div>
                      <div class="col-md-3">
                        <i class="fa fa-bath fa-2x"></i>
                      </div>
                    </div>

                    <div class="row text-center">
                      <div class="col-md-3"><%= @room.home_type %></div>
                      <div class="col-md-3"><%= pluralize(@room.accommodate, "Guest") %></div>
                      <div class="col-md-3"><%= pluralize(@room.bed_room, "Bedroom") %></div>
                      <div class="col-md-3"><%= pluralize(@room.bath_room, "Bathroom") %></div>
                    </div>

                  </div>
                </div>
             </div>
          </div>
          <div class="white-bg listing-content no-padding-top">
              <hr>
              <h2 class="listing-title"><strong>About</strong></h2>
              <div class="row">
                <div class="col-sm-12 no_padding">
                  <p><%= @room.summary %></p>  
                </div>
              </div>

              <hr>
              <div class="row">
                <div class="col-md-12 no_padding">
                   <h2 class="listing-title"><strong>Amenities</strong></h2>
                </div>
                <div class="col-md-4">
                   <div class="row">
                      <div class="col-xs-2">
                         <div class="amenities-icon wifi"> </div>
                      </div>
                      <div class="col-xs-9">
                         <div class="amenities-label">
                            <i class="fa fa-television" aria-hidden="true"></i></i>  
                            <span class="<%= 'text-line-through' if !@room.is_tv %>">  TV</span>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="col-md-4">
                   <div class="row">
                      <div class="col-xs-2">
                         <div class="amenities-icon electricity"> </div>
                      </div>
                      <div class="col-xs-9">
                        <div class="amenities-label">
                          <i class="fa fa-cutlery" aria-hidden="true"></i>
                          <span class="<%= 'text-line-through' if !@room.is_kitchen %>">  Kitchen</span>
                        </div>
                      </div>
                   </div>
                </div>
                <div class="col-md-4">
                   <div class="row">
                      <div class="col-xs-2">
                         <div class="amenities-icon lighting"> </div>
                      </div>
                      <div class="col-xs-9">
                        <div class="amenities-label">
                          <i class="fa fa-globe" aria-hidden="true"></i>
                          <span class="<%= 'text-line-through' if !@room.is_internet %>">  Internet</span>
                        </div>
                      </div>
                   </div>
                </div>
                <div class="col-md-4">
                   <div class="row">
                      <div class="col-xs-2">
                         <div class="amenities-icon speakers"> </div>
                      </div>
                      <div class="col-xs-9">
                        <div class="amenities-label">
                          <i class="fa fa-fire" aria-hidden="true"></i>
                          <span class="<%= 'text-line-through' if !@room.is_heating%>">  Heating</span>
                        </div>
                      </div>
                   </div>
                </div>
                <div class="col-md-4">
                   <div class="row">
                      <div class="col-xs-2">
                         <div class="amenities-icon tables"> </div>
                      </div>
                      <div class="col-xs-9">
                        <div class="amenities-label">
                          <i class="fa fa-plug" aria-hidden="true"></i>
                          <span class="<%= 'text-line-through' if !@room.is_air %>">  Air Conditoning</span>
                        </div>
                      </div>
                   </div>
                </div>
              </div>

              <hr>
              <div class="row">
                <p class="hosted-by-heading"><h4 class="green"><strong>Hosted by <%= @room.user.fullname %></strong></h4></p>
                <div class="col-sm-3 host-stats-column">
                  <div class="profile-photo-container">
                     <a href="">
                        <div>
                           <div><%= image_tag @room.user.avatar.url(), class: "img-circle avatar-large" %></div>
                        </div>
                     </a>
                  </div>
                </div>
              </div>

              <hr>
              <div class="row">
                <% if @photos.length > 0 %>
                  <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                      <% @photos.each do |photo| %>
                          <li data-target="#myCarousel" data-slide-to="<%= photo.id %>"></li>
                      <% end %>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                      <% @photos.each do |photo| %>
                          <div class="item <%= 'active' if photo.id == @photos[0].id %>">
                            <%= image_tag photo.image.url() %>
                          </div>
                      <% end %>
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                <% end %>
              </div>

              <hr>
              <div class="row">
                <div class="col-sm-6 no_padding">
                  <h4 class="green"><strong>Reviews</strong></h4>
                </div>
                <div class="col-sm-6 text-right no_padding">
                  <span class="average_rating"></span>
                  <span class="mono small grey"><%= pluralize(@guest_reviews.count, "Review") %></span>
                </div>
              </div>

              <br>
              <div id="paginated-reviews-container">
                <div><%= render "reviews/guest_list" %></div>
              </div>

              <!-- GOOGLE MAP -->
              <hr>
              <div class="row">

                <div id="map" style="width: 100%; height: 400px"></div>

                <script src="https://maps.googleapis.com/maps/api/js"></script>
                <script>
                    function initialize() {
                      var location = {lat: <%= @room.latitude %>, lng: <%= @room.longitude %>};
                      var map = new google.maps.Map(document.getElementById('map'), {
                        center: location,
                        zoom: 14
                      });

                      var marker = new google.maps.Marker({
                        position: location,
                        map: map
                      });

                      var infoWindow = new google.maps.InfoWindow({
                        content: '<div id="content"><%= image_tag @room.cover_photo(:medium) %></div>'
                      });

                      infoWindow.open(map, marker);
                    }

                    google.maps.event.addDomListener(window, 'load', initialize);
                </script>
              </div>
              <hr>
          </div>
          <br>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12" id="contact-box">
         <div id="contact-box-inner-container" class="affix-top" style="">
            <div class="row">
               <div class="col-md-12 black-bg" id="listing-price" style="position: relative">

                  <div class="row">
                    <div class="col-md-6 no-padding">
                        <span class="h2 canada">
                          <span id="price"><% if @room.Instant? %><i class="fa fa-bolt" style="color: #ffb400"></i> <% end %> $<%= @room.price %></span>
                        </span>
                    </div>
                    <div class="col-md-6 pull-righ no-padding">
                      <span class="h2"><span class="pull-right">Per Night</span></span>
                    </div>
                  </div>
               </div>
               <div class="col-md-12 white-bg">
                  <%= render 'reservations/form' %>
                </div>
            </div>
         </div>
      </div>
    </div>
  </div>

</div>  <!-- main -->   


<script>
  $('.average_rating').raty({
    path: '/assets',
    readOnly: true,
    score: <%= @room.average_rating %>
  });
</script>
