<!DOCTYPE html>
<html>
  <head>
    <title>AirKong</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCU5Eypr-mIt9pW1nieA8g0yX8lBSpKAvc&libraries=places"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/hot-sneaks/jquery-ui.css">
  </head>

  <body>

    <%= render 'shared/navbar' %>
    <%= render 'shared/message' %>

    <% if current_user %>
      <input type="hidden" id="user_id" value="<%= current_user.id %>">
      <% end %>

    <div class="row">
      <%= yield %>
    </div>

    <footer class="site-footer">
      <div class="legal">
        <div class="container-fluid clearfix">
          <div class="policies">
            <ul class="list-inline">
              <li><a href="">Help</a></li>
              <li><a href="">Contact Us</a></li>
              <li><%= link_to "About",about_path %></li>
              <li><a href="">Terms</a></li>
              <li><a href="">Privacy Policy</a></li>
              <li><a id="footer_link_facebook" href="https://www.facebook.com/peerspace/">
                <span class="fa fa-facebook"></span>
              </a></li>
              <li><a id="footer_link_facebook" href="https://www.facebook.com/peerspace/">
                <span class="fa fa-twitter"></span>
              </a></li>
              <li><a id="footer_link_facebook" href="https://www.facebook.com/peerspace/">
                <span class="fa fa-instagram"></span>
              </a></li>
              <li><a id="footer_link_facebook" href="https://www.facebook.com/peerspace/">
                <span class="fa fa-pinterest"></span>
              </a></li>
            </ul>
          </div>
          <div class="copyright">
            <ul class="list-inline">
              <li>© 2017 Espai</li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    </body>
    </html>
